.footer {
  margin-top: 150px;
  padding: 40px 20px;
  background: #1c1c1c;
  color: #fff;
}

.footer-header {
  text-align: center;
  margin-bottom: 40px;
}

.footer h3 {
  font-size: 40px;
  font-weight: 700;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background: rgb(137, 187, 36);
  border-radius: 10px;
  padding: 40px 20px;
}

.footer-column {
  text-align: center;
  max-width: 250px;
}

.footer-column h4 {
  margin: 20px 0;
}

.footer-column a {
  color: #212123;
  text-decoration: none;
  font-size: 16px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 10px;
}

.footer-icon {
  font-size: 36px;
  margin-bottom: 15px;
}

.social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.social-icons i {
  font-size: 22px;
  border: 1px solid #fff;
  padding: 8px;
  border-radius: 8px;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
}

/* Responsive */
@media (max-width: 1024px) {
  .footer-content {
    flex-direction: column;
    gap: 40px;
  }

  .footer h3 {
    font-size: 30px;
  }
}
